fastapi
uvicorn
pydantic
imgbeddings
sqlalchemy
pgvector
psycopg2-binary
python-multipart
openai-whisper
opencv-python-headless 
langchain-google-vertexai
langchain
pydub
Pillow 
itsdangerous
sentence-transformers
numpy
librosa
opencv-python
google-generativeai
requests
python-dotenv

